/.env
/.tmp
/.venv
/icon.png
/installers
/MonitorManager.spec
/output
/splash_screen.jpg
/__pycache__
*.exe
*ifp
icon.jpg
MonitorManager.aip
MonitorManager.back(22.6).aip
MonitorManagerInstaller_v1.2.0.msi
Monitor Manager_2.aip
